/* Referências utilizadas para estilização:
https://www.behance.net/gallery/90079519/Resume-Landing-page */

#foto-do-thiago {
    border-radius: 100%;
}

.titles {
    line-height: 40px;
    text-align: center;
    margin: 0px;
}

h1, h2 {
    font-family: 'montserrat', sans-serif;
    padding: 20px 0px 0px 0px;
}

h3 {
    font-family: monospace;
    color: rgb(66, 175, 139);
}

h4 {
    font-family: 'montserrat', sans-serif;
    padding: 10px;
}

.color-titles {
    color: rgb(66, 175, 139);
}

.color-texts {
    color: rgb(49, 49, 49);
}

.menu-buttons {
    text-decoration: none;
    color: rgb(73, 73, 73);
    font-family: monospace;
    background-color: white;
    padding: 7px 15px;
    line-height: 40px;
    border-radius: 4px;
}

.menu {
    font-family: 'montserrat', sans-serif;
    background-color: rgb(66, 175, 139);
    list-style: none;
    padding: 2px 0px 15px;
    vertical-align: middle;
    margin: 0px;
}

.subtitle {
    font-size: 14px;
    font-style: italic;
    color: rgb(73, 73, 73);
}

.topics {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 175, 139);
}

.link-buttons {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: monospace;
    background-color: rgb(73, 73, 73);
    padding: 7px 15px;
    line-height: 40px;
    border-radius: 4px;
}

.text-flyer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    line-height: 25px;
}

.header {
    text-align: center;
}

body {
    background-color: rgb(66, 175, 139);
}

div {
    background-color: rgb(255, 255, 255);
}

ul {
    margin: 0px;
}

li {
    display: inline;
}

.indice {
    padding: 10px 10px 1px;
    color: white;
    background-color: rgb(66, 175, 139);
}

.indice h4 {
    padding: 2px;
}