/* Referências utilizadas para estilização:
https://www.behance.net/gallery/90079519/Resume-Landing-page */

#foto-do-thiago {
    border-radius: 100%;
}

.titles {
    line-height: 40px;
    text-align: center;
    margin: 0px;
    padding: 25px;
}

h1,
h2 {
    font-family: 'montserrat', sans-serif;
    text-align: center;
}

h3 {
    font-family: monospace;
    color: rgb(66, 175, 139);
}

h4 {
    font-family: 'montserrat', sans-serif;
    padding: 10px;
}

.color-titles {
    color: rgb(66, 175, 139);
}

body {
    background-color: rgb(66, 175, 139);
    margin: 0px;
}

.color-texts {
    color: rgb(255, 255, 255);
}

.menu-buttons {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: monospace;
    background-color: rgb(34, 33, 33);
    padding: 7px 15px;
    line-height: 40px;
    border-radius: 4px;
}

.menu {
    font-family: 'montserrat', sans-serif;
    background-color: rgb(66, 175, 139);
    list-style: none;
    padding: 2px 0px 15px;
    vertical-align: middle;
    margin: 0px;
}

.subtitle {
    font-size: 14px;
    font-style: italic;
    color: rgb(129, 129, 129);
}

.topics {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 175, 139);
    text-align: center;
    display: inline-block;
    padding: 10px;
    font-family: monospace;
}

.link-buttons {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: monospace;
    background-color: rgb(73, 73, 73);
    padding: 7px 15px;
    line-height: 40px;
    border-radius: 4px;
}

.text-flyer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
    padding-top: 15px;
    margin: 0px;
}

.header {
    text-align: center;
    font-size: 25px;
}



ul {
    margin: 0px;
}

.indice {
    padding: 3px;
    color: white;
    background-color: rgb(66, 175, 139);
    text-align: center;
    margin-top: 10px;
}

#name {
    padding: 50px;
    text-align: center;
}

#name h2,
h3 {
    margin: 0px;
}

#me {
    text-align: center;
    padding-bottom: 25px;
    background-image: url(/image/codigo.jpeg);
    background-blend-mode: multiply;
    background-position: center;
    background-size: 1080px;
    background-color: rgb(34, 33, 33);
}

.informations {
    padding: 35px;
    margin-top: 10px;
    background-color: rgb(34, 33, 33);
}

.menu li {
    display: inline;
}

.header,
.me {
    background-color: rgb(34, 33, 33);
}

.baseboard {
    margin-top: 10px;
    background-color: rgb(34, 33, 33);
}

.my-name {
    color: white;
    font-family: 'montserrat', sans-serif;
    display: block;
    font-size: 25px;
}

.links {
    padding: 35px;
}

#links {
    padding-bottom: 10px;
}