#foto-do-thiago {
    border-radius: 100%;
}

h1, h2 {
    font-family: 'montserrat', sans-serif;
}

h3 {
    font-family: monospace;
    color: rgb(66, 175, 139);
}

h4 {
    font-family: 'montserrat', sans-serif;
}

.color-titles {
    color: rgb(66, 175, 139);
}

.color-texts {
    color: rgb(49, 49, 49);
}

.menu-buttons {
    text-decoration: none;
    color: white;
    font-family: monospace;
}

#menu {
    font-family: 'montserrat', sans-serif;
    background-color: rgb(66, 175, 139);
}